
@model IEnumerable<WebProject.Models.Category>

@{
    ViewData["Title"] = "Categories";
}
<body>
    <h1 style="        text-align: center;
        font-size: 50px;
        text-decoration-line: underline;
">
        Categories
    </h1>

    @*<table class="row">
            <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ImagePath)
                        </th>
                        <th></th>
                    </tr>
                </thead>
        <thead>*@
    <div class="container">
        <div class="row ">
            @foreach (var item in Model)
            {
                @*<div class="card col-2 d-flex text-center" style="width: 18rem;background-color:transparent;margin:15px;border:none;">
                        <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-into btn-danger card-header" style="color:mediumslateblue;border:solid;font-weight:bold;">Delete</a>
                        <a class="card-header mx-auto" style="text-align:center;font-size:20px;font-weight:bold">@item.Name</a>
                        <img class="card-img-top" src="@item.ImagePath" alt="Card image cap" style="float: left; width: 150px; height: 150px; background-size:cover;">
                        <a type="button" class="mx-auto" asp-action="Details" asp-route-id="@item.CategoryId"><img src="@item.ImagePath" style="float: left; width: 200px; height: 200px; background-size:cover; border-radius: 50%;" alt="Avatar"></a>
                        <div class="col text-center">
                            <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-into" style="color:black;border:solid;font-weight:bold">Delete</a>
                        </div>
                    </div>*@
                <div class="card text-center" style="width: 18rem;background-color:transparent;margin:15px;border:none;">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align:center;font-size:20px;font-weight:bold">@item.Name</h5>
                        @*<h5 class="card-title">Special title treatment</h5>*@
                        @*<img class="card-img-top" src="@item.ImagePath" alt="Card image cap" style="float: left; width: 150px; height: 150px; background-size:cover;">*@
                        <a type="button" class="mx-auto" asp-action="Details" asp-route-id="@item.CategoryId"><img src="@item.ImagePath" style="float: left; width: 200px; height: 200px; background-size:cover; border-radius: 50%;" alt="Avatar"></a>
                        @*<div class="col text-center">
                                **Need to FIX asp-action to Recipes/Index
                                <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-into" style="color:black;border:solid;font-weight:bold">Delete</a>
                            </div>*@
                    </div>
                </div>
            }
        </div>
    </div>
    @*</thead>
        <tbody>*@
    @*@foreach (var item in Model) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ImagePath)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>

                            </td>
                        </tr>
                }
        </tbody>
        </table>*@
</body>
