
@model IEnumerable<WebProject.Models.Category>
@section styles{

    <link rel="stylesheet" href="~/css/categories_index.css" />
    <link rel="stylesheet" href="~/css/home_index_.css" />
    <link rel="stylesheet" href="~/css/layout_home.css" />

}
<head>
    <script language="JavaScript" type="text/javascript"></script>
    <script src='https://cdn.plot.ly/plotly-2.2.0.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@1"></script>
</head>

@{
    ViewData["Title"] = "Categories";

}
<body>
    <div class='our-work text-center'>
        <div class='container'>
            <h2 class='upper'>הקטגוריות <span class='main-color'>שלנו</span></h2>
            &nbsp;
            &nbsp;
            <div class='items-box'>
                @foreach (var item in Model)
                {
                    <div class='item'>
                        <img src='@item.ImagePath' alt='Work 4'>
                        <div class='over text-center'>
                            &nbsp;
                            <h9 class='text-center'>@item.Name</h9>
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            <div class='buttons'>
                                <p>
                                    <a class='btn btn-outline-light' style="background-color: #ac8d99;font-size:x-large;" asp-action="Details" asp-route-id="@item.CategoryId">לצפייה במתכונים</a>
                                </p>
                                @if (this.User.IsInRole("Admin"))
                                {
                                    <p>
                                        <a class='btn btn-outline-light' style="background-color: #ac8d99;font-size:x-large;" asp-action="Delete" asp-route-id="@item.CategoryId">מחק מתכון</a>
                                    </p>
                                }
                            </div>
                        </div>
                    </div>
                }
                <div id="chart_container">
                    <canvas id="chart-0"></canvas>
                </div>
                <script>

                repArray = @Json.Serialize(ViewBag.REP);
                cats = @Json.Serialize(ViewBag.REP);


                    /* data */
                    var data = {
                        labels: ['Sweet', 'Salty','Pastry'],
                        datasets: [{
                            label: 'פילוח המתכונים על פי קטגוריות ',
                            data: repArray,
                            /* global setting */
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)'
                            ],
                            borderWidth: 1
                        }]
                    };

                    var options = {
                        legend: {
                            display: true,
                            fillStyle: "red",

                            labels: {
                                boxWidth: 0,
                                fontSize: 24,
                                fontColor: "black",
                            }
                        },
                        scales: {
                            xAxes: [{
                                stacked: false,
                                scaleLabel: {
                                    display: true,

                                },
                            }],
                            yAxes: [{
                                stacked: true,
                                scaleLabel: {
                                    display: true,

                                },
                                ticks: {
                                    suggestedMin: 0,
                                    suggestedMax: 10
                                }
                            }]
                        },
                    };

                    var chart = new Chart('chart-0', {
                        type: 'bar',
                        data: data,
                        options: options
                    });
                </script>
            </div>
        </div>
        </div>
</body>
