@model WebProject.Models.Recipe

@{
    ViewData["Title"] = "Details";
}

@if (this.User.IsInRole("Client") || this.User.IsInRole("Admin"))
{
    <main>
        <dd class="col-sm-10" style="text-align:center;left: 97px;color: white;">
            <h3 style="font-size: 70px; font-weight: bold;background-color: rgb(172 141 153 / 70%);">@Html.DisplayFor(model => model.Name)</h3>
        </dd>

        <div class="position-relative overflow-hidden p-4 p-md-4 m-md-4 text-center badge-light" style="background-color:transparent">
            <div class="col-md-2p-lg-2mx-auto my-2">
                <iframe style="background-color: #FFFFFF" src="@Html.DisplayFor(model => model.Video)?autoplay=1&mute=0" width="1000" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <div class="product-device shadow-sm d-none d-md-block"></div>
            <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
            <div class="col-md p-lg mx-auto my"style="padding: 3rem;text-align: -webkit-center;direction: rtl;">
                <h1 class="display-4 fw-normal" style="margin-top:-89px;font-size: 70px;font-weight: bold;color:#ac8d99;">הוראות הכנה</h1>
                <p class="lead fw-normal">
                    <dd class="col-lg-10" style="white-space: pre-line; font-family:Arial;text-align:center;">
                        @Html.DisplayFor(model => model.Howtomake)
                    </dd>
                </p>
                @*<a class="btn btn-outline-secondary" asp-action="CreateOrder" asp-route-id="@Model.RecipeId">Add to my cart</a>*@
            </div>
            <div class="product-device shadow-sm d-none d-md-block"></div>
            <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>
    </main>

    <div>
        @if (Model.Author == User.Identity.Name || User.IsInRole("Admin"))
        {
            <a class="btn btn-danger" asp-action="Edit" asp-route-id="@Model.RecipeId">Edit</a>
        }
        <a class="btn btn-primary" onclick="history.go(-1)">Back to List</a>
    </div>

}
else
{
    <div class="control-label" style="text-align:center;line-height:29;-webkit-text-stroke: medium;font-family: monospace;">You've to Sign in <a class="btn btn-light" style="font-size:20px;color:hotpink;" href="/Users/SignIn">Click Here</a> </div>
    
}
